@font-face {
    font-family: "Swedbank Sans Medium";
    src: url("font/SwedbankSans-Medium.ttf") format('truetype');
}
* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-family: "Swedbank Sans Medium";
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
#gradient {
	height: 8px;
	background-image: linear-gradient(90deg, #FA7F25 0%, #FDBE13 100%);
}
header {
	display: block;
	height: 70px;
	background-color: #FCF2EA;
	border-bottom: 1px solid #EBE7E2;
	flex-shrink: 0;
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1);
	z-index: 1;
}
#main {
	display: flex;
	flex-direction: row;
	height: 100%;
}
header .logo {
	height: 40%;
	margin: 16px 0 0 50px;
}
#content {
	flex-grow: 1;
	padding: 0;
}
nav {
	width: 235px;
	border-right: 1px solid #EBE7E2;
	flex-shrink: 0;
	height: 100%;
	overflow: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}
nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
}
nav input {
	display: none;
}
nav label {
	color: #493C3B;
	font-weight: 500;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 24px center;
	padding-left: 64px;
	line-height: 46px;
	flex-grow: 1;
	width: 100%;
	cursor: pointer;
}
nav a {
	text-decoration: none;
	color: #493C3B;
	font-weight: 500;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 24px center;
	background-size: 21px;
	padding-left: 64px;
	line-height: 46px;
	flex-grow: 1;
	width: 100%;
}
nav .icon {
	margin-right: 16px;
}
nav ul li {
 display: flex;
 align-items: flex-start;
 flex-direction: column;
 width: 100%;
}
nav li label:hover,
nav li a:hover {
  cursor: pointer;
  background-color: rgba(211,195,188,0.5);
}
nav input[type=checkbox]:checked ~ label:before {
	content: '';
	background-image: url('img/caret-up.svg');
    position: absolute;
    width: 8px;
    height: 5px;
    margin-left: 148px;
    margin-top: 20px; 
}
nav input[type=checkbox]:checked ~ label,
nav input[type=checkbox]:checked ~ ul {
	background-color: rgba(211,195,188,0.2);
}
nav input[type=checkbox]:not(:checked) ~ ul {
	height: 0;
	overflow: hidden;
}
nav input[type=checkbox]:not(:checked) ~ label:before {
	content: '';
	background-image: url('img/caret-down.svg');
    position: absolute;
    width: 8px;
    height: 5px;
    margin-left: 148px;
    margin-top: 20px; 
}
nav ul li.active ul {
	visibility: visible;
	opacity: 1;
	position: initial;
	box-shadow: none;
	background-color: transparent;
	margin-top: 0;
	width: 100%;
}
nav ul li.active {
	flex-direction: column;
	align-items: flex-start;
	height: auto;
}
nav ul li ul li a {
	padding-left: 64px;
	width: 100%;
}
/*Ugly double line hack, sorry :(*/
a.twolinehack {
	line-height: 23px;
}

nav li.active {
	background-color: rgba(211,195,188,0.3);
}
nav li.active:not(.expanded) {
	box-shadow: inset 4px 0px 0px 0px #F35B1C;
}
nav li.active.expanded {
	background-color: transparent;
}
nav li.active.expanded a {
}
nav li.active.expanded ul a {
	cursor: pointer;
}